.button{
    padding: 5px 15px;
    background-color: transparent;
    border: 1px solid teal;
    color: teal;
    font-size: 14px;
    transition: background-color 0.7s ease, transform 0.7s ease;
}
.button:hover{
    background-color: teal;
    color: white;
    transform: scale(1.05);
}