*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#root{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.App{
    width: 800px;
}
.post{
    margin-bottom: 20px;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 3px solid teal;
}

.post-enter {
    opacity: 0;
  }
.post-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
  }
.post-exit {
    opacity: 1;
  }
.post-exit-active {
    opacity: 0;
    transition: opacity 100ms ease-in;
  }
.page__wrapper{
  margin-top: 30px;
  display: flex;
  justify-content: center;
}
.post__btn{
  display: flex;
}

.about_post{
  margin-right: 5px;
}
.page{
  padding: 10px;
  border: 1px solid teal;
  cursor: pointer;
}
.page__current{
  border: 3px solid orange;
  font-weight: bold;
}
.navbar{
  height: 50px;
  width: 100vw;
  display: flex;
  align-items: center;
  background-color: teal;
  color: white;
}
.navbar__linkers{
  margin-left: auto;
  padding: 0 15px;
}
.navbar__linkers a{
  padding-right: 5px;
  color: white;
  text-decoration: none;
}
.auth_form{
  padding-top: 40px;
}
.auth_btn{
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
}

@media only screen and (max-width: 800px) {
  .App{
    width: 400px;
}
.post__btn{
  display: flex;
  flex-direction: column;
}
.about_post{
  margin-right: 0px;
  margin-bottom: 5px;
}
}

@media only screen and (max-width: 400px) {
  .App{
    width: 300px;
}
}