<select [(ngModel)]="selectedCountry" (change)="onCountrySelect()">
  <option [ngValue]="null" hidden>Country</option>
  @for (country of countries; track country.id) {
    <option [ngValue]="country">{{country.name}}</option>
  }
</select>
<select [(ngModel)]="selectedState" [disabled]="selectStateDisabled()" (change)="onStateSelect()">
  <option [ngValue]="null" hidden>State</option>
  @for (state of states; track state.id) {
    <option [ngValue]="state">{{state.name}}</option>
  }
</select>
<select [(ngModel)]="selectedLocality" [disabled]="selectLocalityDisabled()">
  <option [ngValue]="null" hidden>Locality</option>
  @for (locality of localities; track locality.id) {
    <option [ngValue]="locality">{{locality.name}}</option>
  }
</select>
